@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: black;
  color: wheat;
}
*::selection {
  background-color: black;
  color: wheat;
}

.hero_inicio {
  background-image: url(../images/fondo_patitas_green.jpg);
  display: flex;
}
.hero_inicio .hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.hero_inicio .hero_text h4 {
  color: rgb(39, 27, 12);
  font-family: "Permanent Marker", cursive;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  font-size: 4rem;
}
.hero_inicio .hero_text h2 {
  color: rgb(39, 27, 12);
  font-family: "Permanent Marker", cursive;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  font-size: 6rem;
  margin-bottom: 1rem;
}
.hero_inicio .hero_parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39, 27, 12);
}

.footer {
  background-color: #212529;
  color: white;
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
}
.footer .footer_top > div {
  flex: 1 1 0;
}
.footer .footer_top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_top h2 {
  font-weight: 30060;
  font-size: 2rem;
}
.footer .footer_top .direccion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .direccion {
  align-items: end;
}
.footer .footer_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: end;
}
.footer .footer_bottom .text_copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.footer .footer_bottom .icons a {
  color: white;
  letter-spacing: 2rem;
}

.tarjetas {
  background-image: url(../images/fondo_patitas_green.jpg);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: wheat;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tarjetas .tarjeta {
  background-color: #0f0f0f;
  border-radius: 30px;
  overflow: hidden;
  gap: 20px;
  font-family: "Quicksand";
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tarjetas .tarjeta:hover {
  transform: scale(1.1) translateY(-48px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition-delay: 0.5s;
}
.tarjetas .imagen_shop {
  color: wheat;
  width: 100%;
  background-color: #000000;
  font-weight: 600;
}
.tarjetas .informacion_tarjeta {
  padding: 0 20px 20px 20px;
}
.tarjetas .tarjeta_boton {
  font-family: "Quicksand", sans-serif;
  color: wheat;
  background-color: #212529;
  border: 5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  transform: translate(40px);
}

.envios {
  background-image: url(../images/fondo_patitas_green.jpg);
}
.envios .titulo_envios {
  color: rgb(39, 27, 12);
  font-size: 4rem;
}
.envios .texto_envios {
  color: rgb(39, 27, 12);
  font-size: 2rem;
}
.envios .mapa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria {
  background-image: url(../images/fondo_patitas_green.jpg);
  min-height: 100vh;
}
.galeria .container_img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.galeria .container_img .box_img figure {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.galeria .container_img .box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galeria .container_img .box_img:nth-child(1) {
  grid-column-start: span 2;
}
.galeria .container_img .box_img:nth-child(4) {
  grid-row-start: span 2;
}
.galeria .text_galeria {
  font-family: "Quicksand", sans-serif;
  color: wheat;
  background: rgb(22, 98, 40);
  background: linear-gradient(90deg, rgb(22, 98, 40) 0%, rgb(4, 150, 36) 40%, rgb(10, 153, 96) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.quienes_somos {
  background-image: url(../images/fondo_patitas_green.jpg);
  min-height: 100vh;
  display: flex;
  /* ----------------------------------------------
  * Generated by Animista on 2024-1-14 18:29:43
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
   * ----------------------------------------
   * animation tracking-in-expand-fwd-bottom
   * ----------------------------------------
   */
}
.quienes_somos .titulo_quienes {
  min-height: 100vh;
  color: wheat;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
  background: linear-gradient(90deg, rgb(22, 98, 40) 0%, rgb(4, 150, 36) 40%, rgb(10, 153, 96) 100%);
  animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .hero_inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .hero_img {
    display: flex;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  display: flex;
  flex-direction: column;
}

.container_img {
  width: 95%;
  grid-template-columns: repeat 2, 1fr;
  grid-gap: 10px;
  grid-template-rows: 200px;
}

.container_img .box_img:nth-child(1) {
  grid-template-columns: span 1;
}

@media screen and (max-width: 500px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  display: flex;
  flex-direction: column;
}

.container_img {
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
}

.container_img .box_img img {
  height: 200px;
}/*# sourceMappingURL=estilos.css.map */