@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@400;500;700&display=swap');

$font_quicksand: 'Quicksand', sans-serif;
$color_texto: rgb(39, 27, 12);
$background_pages: url(../images/fondo_patitas_green.jpg),